@model MyApp.Models.C_代理

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_代理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.代理Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.代理Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.代理名稱 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
